body {
    text-align: center;
    box-sizing: border-box;
    margin: 100px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    line-height: 30px;
}
img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.blue-border {
    border-color: blue;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
}
h4 {
    margin-bottom: 40px;
}
section {
    margin: 30px auto;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: darkcyan;
}
a:hover {
    color: palevioletred;
}