* {
    box-sizing: border-box;
}
html {
    background: transparent url('background-grid.png') left top repeat scroll;
}
body {
    margin: 0;
}
.one {
    height: 300px;
    width: 300px;
    border: 5px solid red;
    border-radius: 50%;
    border-style: groove;
    background-color: lightpink;
    text-align: center;
    opacity: 0.5;
    border-width: 10px 2px;
    box-shadow: 10px 5px 5px black;

}