@font-face {
    font-family: 'Madina';
    src: url('Madina.woff2') format('woff2'),
        url('Madina.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

